__pycache__/
.vscode/
.env
logs/
results/
scripts/a100_gpu/
temp/
venv/
wandb/
wandb_logs/
weights
data/__pycache__/
data/imagenet64/__pycache__/
data/imagenet64/ILSVRC/
data/imagenet64/fid_stats.pth

hozy_ignorance.md